[package]
name = "wit-validator"
version = "0.1.0"
edition = "2024"

[features]
default = ["std"]
std = []

[dependencies]
wit-parser = { workspace = true }
anyhow = { workspace = true }

[dev-dependencies]

[lints]
workspace = true
