[package]
name = "ui"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
axum = { workspace = true }
tokio = { workspace = true }
tower-http = { workspace = true }
tower = { workspace = true }
